h3
{
	margin-bottom: 20px;

}

h2
{
	text-align: center;

}

/* bar de navigation */

.nav
{
	background-color:  #1D8AC9;
	


}
 
 .nav li
 {
 	display: inline-block;
 	margin-left: 3%;
 	color: white;
 	
 }

 .nav li a
 {
 	color: white;
 	font-size: 1.3em ;

 }

 .nav li a:hover,  .nav li a:link
 {
 	background-color: transparent;
 }

 .nav .col-md-12
 {
 	padding: 0;
 }

 .mid-title
 {
 	border-bottom: solid 1px #1D8AC9; 
 	color: #1D8AC9;
 }
 #firstlink
 {
 	margin-left: 10%;
 }
 #passe_ann
 {
 	background-color: #E68D06;
 	border-radius: 5px;
 }

/*--------------------------------content accueil---------------------------------*/

/* header recherche */
#head-rech
{
	background-image: url("bg/bg.jpg");
	background-color: white;
	background-repeat: no-repeat;

	
}

#rech-bar,#rech-map
{
	margin-top: 51px;
	margin-bottom: 50px;
}

#rech-bar
{
	background-color: rgba(0,0,0,0.6);
	color: white;
	border-radius: 5px;
	position: relative;
	padding:15px;
}

#rech-bar a
{
	text-decoration: none;
	color:white;
}

#rech-bar a:hover
{
	color:#1D8AC9;
}



#rech-map
{
	background-color: rgba(255,255,255,0.6);
	border-radius: 5px;

}



#btn-rech
{
	margin-bottom: 10px;

}

svg
{
	margin-top: 5px;
}

/* accueil*/
.paragraphe
{
	margin-bottom: 2%;
	padding: 3%;
	padding-top: 1%;
	margin-top: 1%;
}

#para_centre
{
	border-left: solid 2px #ADCE4A;
	border-right: solid 2px #ADCE4A;
}

.paragraphe h2
{
	
	border-bottom: solid 2px #1D8AC9;
	border-top:solid 2px #1D8AC9;
	padding: 2%;
	color: #1D8AC9
}

.paragraphe p
{
	margin-top: 5%;
}

/*panneau publicitaire*/


.lignepub
{
 margin-top: 3%;
}

#panneau_pub
{
	margin-top: 3%;
	padding-left: 3%;
}
/*---------------------------------------annonces-----------------------------*/

/*annnonce*/

#titre_ann
{
	color: #1D8AC9;
	font-weight: bold;
}

.annonce 
{
	margin-top: 2%;
	border-top: solid 3px #ADCE4A;
	padding-top: 3%;
}

.note
{
	margin-bottom: 5%;
}

.lien_ann h3
{
	border-bottom:solid 2px #1D8AC9;	
}

.lien_ann:hover
{
	color: #1D8AC9;
	text-decoration: none;
}

.btn-dec
{
	margin-top: 20%;
	background-color: #ADCE4A;
	color: white;
	font-size: 1.3em;
}

.btn-dec:hover
{
	background-color: #ADCE4A;
	color: black;
}
.prixtopann
{
	font-size: 1.4em;
	text-transform: uppercase;
}
/*------------------------------------Recherche annonce----------------------------*/

#title
{
	text-align: left; 
	border-bottom: solid 1px #1D8AC9;

	margin-top:2%;
	margin-bottom: 2%;

	color: #1D8AC9;
}

/*------------------------------pagination-------------------------------------*/

.pagi_rech
{
	font-size: 1.3em;
	margin-bottom: 25px;
	padding: 0;

}

.pagi_rech a
{
	padding: 8px;
	text-decoration: none;
}

.pagi_rech strong
{
	padding: 8px;
}

/*-----------------------------------Connexion--------------------------------*/

.big-title
{
	border-bottom: solid 2px #1D8AC9;
	border-top: solid 2px #1D8AC9;
	padding: 20px;
	color: #1D8AC9;

	margin-bottom: 40px;
	margin-top: 30px;
}

#inscription
{
	border-right: solid 3px #ADCE4A;
}



.title_login
{
	border-bottom: solid 1px #1D8AC9;
	margin-bottom: 40px;
	padding-bottom: 20px;

	color: #1D8AC9;
}

.btn-log
{
	background-color: #ADCE4A;
	color: white;
	margin-left: 30%;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 40%;
	font-size: 1.3em;

}

.btn-log:hover
{
	background-color: #80aa29;
	color: white;
}

#ligne_pub
{
	margin: 50px;
}

#ligne_pub div
{
	padding-left: 50px;
}

/*---------------------------------------espace---------------------------------------------*/

#titre_listannonce
{
	color: #1D8AC9;
	margin-top: 0;
}

#add_annonce button
{
	background-color: #1D8AC9;
	color: white;
}

.nav-tabs a{
	text-transform: uppercase;
	font-weight: bold;
	color: darkgrey;
	background-color: #eee;
}

.titreTab a
{
	font-size: 1.8em;
}

.btn-vvb
{
	background-color: #ADCE4A;
}

#onglet
{
	border-radius: 5px;
}

hr
{
	border: 2px solid #ADCE4A;
}
/*----------------------------------------remonter annonce----------------------------------------*/

.expliqcredit h3
{
	text-align: center;
	margin-top: 70px;
}

.expliqcredit
{
	margin-right: 50px;
	margin-bottom: 25px;
}

.btn-achat
{
		background-color: #1D8AC9;
	color: white;
}

table
{
	text-align: center;
}

th
{
	text-align: center;
	font-size: 1.2em;
}
/*----------------------------Modif annonce-----------------------------------------------------------------*/

.panel-default > .panel-heading
{
	background-color: #1D8AC9;
	color:white;
}

label h4
{
	margin-top: 0;
}



/*---------------------------------detail---------------------------------------*/

.bordure
{
	border-left: solid 1px #1D8AC9;
	border-right: solid 1px #1D8AC9;
}

.img-slide
{
	margin: 10px 0 0 20px;
	border:solid 2px #1D8AC9;
	padding: 0;
	border-radius: 10px;
	
}

/*-----------------------------Conseil------------------------------*/

#conseils
{
	margin-top: 50px;
	margin-bottom: 40px;
	padding: 20px;
	text-align: center;
	color: #1D8AC9;
	border-top:solid 2px #1D8AC9;
	border-bottom:solid 2px #1D8AC9;
}

/*------------------------------------------form nouvelle annonce -------------------------------------*/

.checkbox + .checkbox, .radio + .radio
{
	margin-top: 10px;
}



#blockvide
{
	height: 100px;
}

#blockvide2
{
	height: 160px;
}

#blockvide3
{
	height: 50px;
}
/*   slider detail */
.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}
#slider-thumbs {
    height: 565px;
    overflow-y: scroll;
    white-space: nowrap;
}

/* footer*/
 
 footer.principal{
	background-color: #0071B7;
	color: #fff;
	padding-top: 50px;
}
footer.principal a{
	color: #fff;
}
footer.principal a:hover{
	color: #fff;
}
footer.principal h4{
	margin-top: 0;
}

footer.principal .vr::before{
	content: "";
	position: absolute;
	width: 0px;
	height: 100%;
	border-right: 1px dashed #fff;
}
footer.principal .hr{
	padding-top: 20px;
	margin-top: 20px;
	border-top: 1px dashed #fff;
}
footer.principal > div:last-child{
	padding: 20px 0;
}




/* MEDIA QUERIES */
@media (max-width: 990px) { 
	#rech-map{ 
		text-align: center;
	}

	#head-rech
	{
		background-image: none;
	}

	#passAnn 
	{
		left:0;
	}
}